body {
  background-color: #f8f9fa;
  color: #212529;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 5px 0 rgb(255, 255, 255);
  text-decoration: none;
  border-color: transparent;
  transition: 0.22s cubic-bezier(.4, .2, .2, 1);
}

#proyectos:hover,
.a-nav:hover,
#sobreMi:hover,
#habilidades:hover,
#contacto:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 36px 0 rgba(11, 181, 85, 0.80) !important;
  text-decoration: none;
  border-color: transparent;
  transition: 0.22s cubic-bezier(.4, .2, .2, 1);
}